/* CSS variables in the root of the page, making them accessible to all other CSS */
:root {
  --dark-background-color: #303840;
  --light-background-color: #dfe9f3;
  --light-blue:#79cede;;
  --light-grey: #697b7e;
}

/* universal*/
* {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:rgb(102, 106, 120);
}

/* selector */
body {
  background-color:var(--light-background-color);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark-background-color);
  color: #fff;
}

header h1{
  padding-left: 10px;
  background-color: var(--light-blue);
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav ul li a {
  color: var(--light-blue);
  text-decoration: underline;
}

main {
  display: flex;
}

/*Style of the avatar image */
#avatar {
  /*Sets the height and width of the image */
  max-width: 200px;
  max-height: 200px;
  /*Sets the margin at the bottom of the image */
  margin-bottom: 25px;
  /*Sets the background position of the image */
  background-position: center;
}

aside {
  flex: 30%;
  padding: 20px;
  flex-wrap: wrap;
  font-size: 2em;
  font-weight: bold;
  color: var(--light-grey);
}

.content {
  flex: 70%;
  padding: 20px;
  flex-wrap: wrap;
  gap: 10px 10px;
  
}

#about-me-side-bar{
  /* Uses 30% the height of the viewport */
  height: 30vh;
  margin-bottom: 10px;
  border-right: 5px solid var(--light-grey);
}

#my-work-side-bar{
  /* Uses 60% the height of the viewport */
  height:60vh;
  margin-bottom: 10px;
  border-right: 5px solid var(--light-grey);
}

#contact-me-side-bar {
  /* Uses 10% the height of the viewport */
  height:10vh;
  margin-bottom: 10px;
  border-right: 5px solid var(--light-grey);
}

#about-me-side-bar h2, #my-work-side-bar h2, #contact-me-side-bar h2 {
  text-align: right;
  padding-right: 2em;
}

.about-me{
  /* Uses 30% the height of the viewport */
  height: 30vh;
  margin-bottom: 10px;
}

.my-work{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* Uses 60% the height of the viewport */
  height:60vh;
  margin-bottom: 10px;
}

.contact-me {
  display: flex;
  align-items: center;
  width: 100%;
  /* Uses 10% the height of the viewport */
  height:10vh;
  margin-bottom: 10px;
}

.contact-me ul {
  display: flex;
  width: 100%;
  justify-content:space-evenly;
}

.contact-me ul p{
  text-decoration: underline;
}



/* Image Placeholders */
.developer-work {
  position:relative;
  width: 50%;
  height: 20%;
  border: 5px solid var(--light-blue);
}

/* Put the image more clear when the user hover over the image*/

.developer-work:hover{
  opacity: 0.5;
}

/* Title of the developer's work*/
.work-title-block{
  position: absolute;
  bottom: 20px;
  left: 0px;
  background-color: var(--light-blue);
  padding-left: 20px;
  padding-right: 20px;
}

.work-title-block h3{
  font-size: 1.5em;
}

.images {
  width: 100%;
  height: 100%;
}

#main-work{
  width:100%;
}

footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: var(--dark-background-color);
}


@media screen and (max-width: 768px) {
 

}




