/* CSS variables in the root of the page, making them accessible to all other CSS */
:root {
  --dark-background-color: #303840;
  --light-background-color: #dfe9f3;
  --light-blue:#79cede;;
  --light-grey: #697b7e;
  --photo-border-color:#9fc8cf;
}

/* universal*/
* {
  box-sizing: border-box;
  /*Specifies a prioritized list of one or more font family names for the website*/
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:rgb(102, 106, 120);
}

/* Set the background color to light blue for the body */
body {
  width: 100%;
  background-color: var(--light-background-color);
}

header{
  width: 100%;
  /* It makes the header a Flexbox*/ 
  display: flex;
  /* Insert equal space between the developer's name and the navigation bar*/
  justify-content: space-between;
  /*Align the elements vertically*/
  align-items: center;
  padding: 1%;
  /* Set the background color to dark blue for the header */
  background-color: var(--dark-background-color);
}

header h1{
  padding-left: 10px;
  font-size: 2.5em;
  font-family:Arial, Helvetica, sans-serif;
  /* Set the background color of the developer's name */
  background-color: var(--light-blue);
  /* Change the corner radius so the corner looks more round*/
  border-radius: 10px 10px 10px 10px;
}

nav ul {
  /* It makes the list of links in the navigation bar a Flexbox*/ 
  display: flex;
  /* Insert equal space between the links*/
  justify-content: space-between;
  min-width: 300px;
}

nav ul li a {
  /*Set the color of the links*/
  color: var(--light-blue);
  /*Insert an underline on the links*/
  text-decoration: underline;
}


#developer-photo {
  /*It makes a flex box*/
  display: flex;
  /*It makes a flex box, if the photo title doesn't fit it will go to the next line*/
  flex-wrap: wrap;
  /* Insert space between the photo and the title*/
  justify-content: space-between;
   /* Align vertically the photo and the title*/
  align-items: center;
  position:relative;
  width: 100%;
}

/*Style of the photo image */
#developer-photo img{
  /*Sets the height and width of the image */
  max-width: 200px;
  max-height: 200px;
  /*Sets the margin at the bottom of the image */
  margin-bottom: 25px;
  /*Sets the background position of the image */
  background-position: center;
  /* Change the corner radius so the photo looks more round*/
  border-radius: 65px 65px 65px 65px;
  /* Adds shadow effec to the photo*/
  box-shadow: 5px 5px 5px var(--photo-border-color);
  /* Set line style of the border of the photo*/
  border-style: solid;
   /* Set the width of the border of the photo*/
  border-width: 1px;
  /* Set the color of the border of the photo*/
  border-color: var(--photo-border-color);
}

#developer-photo-title {
  /* Change the corner radius so the title looks more round*/
  border-radius: 10px 10px 10px 10px;
  /* Set the background color to light blue for the title */
  background-color: var(--light-blue);
}

#developer-photo-title h2{
  /* Change the corner radius so the title's heading looks more round*/
  border-radius: 2%;
  font-size: 2em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content {
  /*It makes the content a flex box*/
  display: flex;
  /*Sets the rows (elements of css class .row) are placed as a column*/
  flex-direction: column;
  padding: 20px;
  gap: 10px 10px;
  width:100%;
}

main {
  padding: 20px;
  gap: 10px 10px;
  width:100%;
  height: 70%;
}

.row {
  /*It makes the content a flex box*/
  display: flex;
  /*Sets the elements inside an element of class row to be placed as a row*/
  flex-direction: row;
  margin-bottom: 10px;
  width:100%;
}

.left-titles {
  /*It makes the content a flex box*/
  display: flex;
  /*It makes heading place on the right*/
  justify-content: flex-end;
  margin-bottom: 10px;
  /*It set the right border to be light grey, solid and with the width of 5px*/
  border-right: 5px solid var(--light-grey);
  width: 20%;
}

.left-titles h2 {
  margin-right:10px;
}

.right-content{
  margin-left: 10px;
  margin-bottom: 10px;
  width:80%;
} 


#developer-works-set{
  /* It makes the elements of the css class a flex box*/
  display: flex;
  /* It makes the elements inside the flex box to be place as a row*/
  flex-direction: row;
  /* Forces elements to the next line if they don't fit*/
  flex-wrap: wrap;
  /*Distribute the elements evenly*/
  justify-content: space-evenly;
  /*Align the elements vertically in the center*/
  align-items:center;
  width: 80%;
  height: 30%;
}

/* Style the individual work of the developer*/
.developer-individual-work {
  position:relative;
  /* It set the width of the developer's works*/
  width: 40%;
  height: 40%;
  /*Set the border to be light blue, solid and with the width of 5px*/
  border: 5px solid var(--light-blue);
  margin: 20px;
}

/* I used :first-child to select the main work of the developer*/
.developer-individual-work:first-child{
  /* It set the width of the main work bigger than the others developer's works*/
  width: 50%;
  /* Sets how much of the flex container's remaining space should be assigned to the main work: it is larger than the others works*/
  flex-grow: 2;
}

/* I used the pseudo-class :hover to make the image more clear when the user hover over the developer work*/
.developer-individual-work:hover{
  opacity: 0.5;
}

/* Title of the developer's work*/
.work-title-block{
  position: absolute;
  bottom: 20px;
  left: 0px;
  background-color: var(--light-blue);
  padding-left: 20px;
  padding-right: 20px;
}

.work-title-block h3{
  font-size: 1.5em;
}

.work-title-block p{
  font-size: 0.75em;
  /*Set the font of the parragraph*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.images {
  width: 100%;
  height: 100%;
  min-width: 80px;
}

.contact-info{
  /* It makes the elements of the css class a flex box*/
  display: flex;
  /* Forces elements to the next line if they don't fit*/
  flex-wrap: wrap;
  /*Align the elements vertically in the center*/
  align-items: center;
  /* Distribute items evenly. Start and end gaps are half the size of the space between each item */
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
  /*Insert a line under the contact information*/
  text-decoration: underline;
}

footer {
  padding: 20px;
  text-align: left;
  background-color: var(--dark-background-color);
}


/* This css rules are applied when the viewport is less than or equal to 768. For large smartphones  */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .work-title-block{
    padding: 0px;
  } 

  .work-title-block h3{
    font-size: 0.75em;
  }

  .work-title-block p{
    font-size: 0.5em;
  }

  .contact-info {
    flex-direction: column;
  }
  
}

/* This css rules will be applied when the viewport is less or equal than 480px, that it is for mobile screens*/
@media screen and (max-width: 480px){

  header h1{
    font-size: 1em;
  }

  .about-me .right-content p{
    font-size: 0.75;
  }

}







