/* CSS variables in the root of the page, making them accessible to all other CSS */
:root {
  --dark-background-color: #303840;
  --light-background-color: #dfe9f3;
  --light-blue:#79cede;;
  --light-grey: #697b7e;
  --photo-border-color:#9fc8cf;
}

/* universal*/
* {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:rgb(102, 106, 120);
}

/* selector */
body {
  width: 100%;
  background-color: var(--light-background-color);
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark-background-color);
}

header h1{
  padding-left: 10px;
  font-size: 2.5em;
  font-family:Arial, Helvetica, sans-serif;
  background-color: var(--light-blue);
  border-radius: 10px 10px 10px 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav ul li a {
  color: var(--light-blue);
  text-decoration: underline;
}


#developer-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position:relative;
  width: 100%;
}

/*Style of the photo image */
#developer-photo img{
  /*Sets the height and width of the image */
  max-width: 200px;
  max-height: 200px;
  /*Sets the margin at the bottom of the image */
  margin-bottom: 25px;
  /*Sets the background position of the image */
  background-position: center;
  border-radius: 65px 65px 65px 65px;
  box-shadow: 5px 5px 5px var(--photo-border-color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--photo-border-color);
}

#developer-photo-title {
  border-radius: 10px 10px 10px 10px;
  background-color: var(--light-blue);
}

#developer-photo-title h2{
  border-radius: 2%;
  font-size: 2em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px 10px;
  width:100%;
}

main {
  padding: 20px;
  gap: 10px 10px;
  width:100%;
  height: 70%;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width:100%;
}

.left-titles {
  display: flex;
  flex: wrap;
  justify-content: flex-end;
  margin-bottom: 10px;
  border-right: 5px solid var(--light-grey);
  width: 20%;
}

.left-titles h2 {
  margin-right:10px;
}

.right-content{
  margin-left: 10px;
  margin-bottom: 10px;
  width:80%;
} 


#developer-works-set{
  /* It makes the elements of the css class a flex box*/
  display: flex;
  flex-direction: row;
  /* Forces elements to the next line if they don't fit*/
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:center;
  width:80%;
  height: 30%;
}

/* Style the individual work of the developer*/
.developer-individual-work {
  position:relative;
  width: 40%;
  height: 40%;
  border: 5px solid var(--light-blue);
  margin: 10px;
}

/* I used :first-child to select the main work of the developer*/
.developer-individual-work:first-child{
  width: 65%;
  height: 35%;
}

/* I used the pseudo-class :hover to make the image more clear when the user hover over the developer work*/
.developer-individual-work:hover{
  opacity: 0.5;
}

/* Title of the developer's work*/
.work-title-block{
  position: absolute;
  bottom: 20px;
  left: 0px;
  background-color: var(--light-blue);
  padding-left: 20px;
  padding-right: 20px;
}

.work-title-block h3{
  font-size: 1.5em;
}

.work-title-block p{
  font-size: 0.75em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.images {
  width: 100%;
  height: 100%;
  min-width: 80px;
}

.contact-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
  text-decoration: underline;
}

footer {
  padding: 20px;
  text-align: left;
  background-color: var(--dark-background-color);
}


/* This css rules is for large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .work-title-block h3{
    font-size: 0.75em;
  }

  .work-title-block p{
    font-size: 0.5em;
  }

  .contact-info {
    flex-direction: column;
  }
  
}

/* This css rules will be applied when the viewport is less than 480px, that it is for mobile screens*/
@media screen and (max-width: 480px){

  header h1{
    font-size: 1em;
  }

  .about-me .right-content p{
    font-size: 0.75;
  }

}







